<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <p>
            Title passed is <%= title %>
        </p>
        <h1>Here is our home page</h1>
    </body>
</html>